<h1>Listado de heroes</h1>
<hr>

<div class="row">
    <div class="col text-end">
        <button class="btn btn-primary" [routerLink]="['/heroe/id']" routerLinkActive="router-link-active"><i class="fa fa-plus"></i> Agregar</button>
    </div>
</div>

<table class="table mt-2">
    <thead class="table table-dark">
        <tr>
            <th scope="col">Id</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Handle</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td colspan="2">Larry the Bird</td>
            <td>@twitter</td>
        </tr>
    </tbody>
</table>
<!-- Inicio alerta -->
<div class="alert alert-danger text-center m-3" role="alert">
    <h4 class="alert-heading">No hay registros!!!</h4>
    <p>
        <i class="fa fa-exclamation-circle fa-3x" aria-hidden="true"></i>
    </p>
</div>
<!-- Fin alerta -->
<!-- Inicio alerta -->
<div class="alert alert-info text-center m-3" role="alert">
    <h4 class="alert-heading">Cargando!!!</h4>
    <p>
        <i class="fas fa-sync-alt  fa-spin fa-3x "></i>
    </p>
    <h4>Espere por favor!!</h4>
</div>
<!-- Fin alerta -->